html{
    padding:0;
    margin:0;
    font-family: 'Geneva', 'Verdana', 'sans-serif'	

}

input{
    font-family: 'Geneva', 'Verdana', 'sans-serif'	
}

#formdiv{
    background-color: lightblue;
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
}
table, th, td{
    /*border: 1px solid black;*/
    padding: 5px;
}

#inb{
    padding: 5px;
    font-family: 'Geneva', 'Verdana', 'sans-serif';
    font-size: 100%;
}